# Specify filepatterns you want git to ignore.
*.sublime-workspace
/.vscode
/.idea
# .gitignore
# /admin/core/cache/php/ant*.php
# /admin/core/cache/ant*.php
*DEBUG.JSON
/admin/smarty/compile_dir/ant*.php
/admin/media/fonts/